<!DOCTYPE html>
<html>
<head>
        <title>Table</title>
</head>
<body>  

        <h3 align='center'> USER DATA</h3>
        <table border='1' align='center'>
                <thead>
                    <tr>
                        <th>id</th>     
                        <th>Name</th>
                        <th>FamilyName</th>
                        <th>email</th>
                        <th>birth_year</th>
                        <th>age</th>
                        <th>ville</th>
                        <th>Numtel</th>
                
                    </tr>
                </thead>
                <tbody>
                        

                    <tr>
                        <td> {{ personne.id }}</td>
                        <td> {{ personne.name }}</td>
                        <td> {{ personne.FamilyName }}</td>
                        <td> {{ personne.email }}</td>
                        <td> {{ personne.BirthYear }}</td>
                        <td> {{ personne.Age }}</td>
                        <td> {{ personne.Ville }}</td>
                        <td> {{ personne.NumTel }}</td>
                      
                    </tr>
                        
                
                </tbody>
            </table>
            
</body>
<html>