<!DOCTYPE html>
<html>
<head>
        <title>UPdatingForm</title>
</head>

<body>
         <br>
        <H1 align="center"><u>Updating Form</u></H1>
        
        <form align="center" action="{{path('Update',{"id":personne.id })}}" method="get">
            <label for="name"><b>Name: </b></label>   
            <input type="text" name="name" value="{{ personne.name }}"><br><br>
            <label for="familyname"><b>FamilyName: </b></label>   
            <input type="text" name="familyname" value="{{ personne.FamilyName }}"><br><br>
            <label for="email"><b>Email: </b></label>   
            <input type="email" name="email" value="{{ personne.email }}"><br><br>
             <p><b>{{exception}}</b></p> 
            <label for="Birthyear"><b>BirthYear: </b></label>   
            <input type="date" name="Birthyear" value="{{ personne.BirthYear }}"> <br><br>
            <label for="ville"><b>City: </b></label>   
            <input type="text" name="ville" value="{{ personne.Ville }}"><br><br>
            <label for="numtel"><b>Phone Number: </b></label>   
            <input type="text" name="numtel" value="{{ personne.NumTel }}"><br><br>
            <button type="submit">submit</button>
        </form>

</body>
 
</html>